table, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 10%;
}

td {
  height: 10px;
}

button {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 5px;
}